<% provide(:title,'One profile') %>
<h4>Profile name</h4>
<%= @profile.name %>
<h4>Profile feedback filleds</h4>
<%= render @profile.feedback_filleds %>
<h4>Profile users</h4>
<%= render @profile.users %>
